.create-dataSource,
.change-dataSource {
  cursor: pointer;
}

.container {
  overflow: hidden;
  position: relative;
  padding: 0;
}

.alert {
  margin-bottom: 0px;
}

.btn-view-data-source {
  width: 100%;
  margin-bottom: 15px;
}

.select-overlay {
  opacity: 0.6;
  pointer-events: none;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn-security {
  width: 100%;
  margin-top: 10px;
}

.main-data-source-provider {
  padding-bottom: 10px;
}

.data-source-title {
  margin-bottom: 5px;
}

.change-data-source {
  cursor: pointer;
}

.selected-data-source {
  display: flex;
  width: 100%;

  .info {
    display: flex;
    width: 80%;

    code {
      width: 20%;
    }

    span {
      display: inline-block;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .action {
    display: flex;
    width: 20%;
  }
}