.create-dataSource,
.change-dataSource {
  cursor: pointer;
}

.checkbox {
  margin-bottom: 25px;
}

.btn-view-data-source {
  width: 100%;
  margin-bottom: 15px;
}

.btn-security {
  width: 100%;
  margin-top: 10px;
}

.main-data-source-provider {
  padding-bottom: 5px;
}

.data-source-title {
  margin-bottom: 5px;
}